<a href="https://colab.research.google.com/github/Raynould-Joseph/Machine-Learning-/blob/main/lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%cd drive/MyDrive/ML_praticals/Datasets/

/content/drive/MyDrive/ML_praticals/Datasets

In [ ]:
!ls

 AirQualityUCI.xlsx  'archive (6).zip'
 AirQualityUCI.zip   'archive (9).zip'
'archive (10).zip'    archive.zip
'archive (11).zip'   'edited pollution index.xlsx'
'archive (12).zip'   'Latest Published Global Estimates (1751-2013).xlsx'
'archive (13).zip'    water_dataX.csv
'archive (5).zip'

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
data_set=pd.read_csv("city_day.csv")
data_set.shape

FileNotFoundError: ignored

In [3]:
data_set=pd.read_csv("city_day.csv").dropna()
data_set.shape

FileNotFoundError: ignored

In [ ]:
nparray=np.array(data_set)

In [ ]:
li=[]
for i in nparray:
  li.append(i)

In [ ]:
li.count("Visakhapatnam")

ValueError: ignored

1. Identifying unique values

In [ ]:
data=data_set

In [ ]:
data.City.unique()

array(['Amaravati', 'Amritsar', 'Chandigarh', 'Delhi', 'Gurugram',
       'Hyderabad', 'Kolkata', 'Patna', 'Visakhapatnam'], dtype=object)

2. Finding Missing values

In [ ]:
df=pd.read_csv("city_day.csv")

In [ ]:
df[df['PM10'].isna()]

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29344,Visakhapatnam,2019-12-28,74.53,NaN,4.21,33.50,21.25,9.72,1.21,6.30,42.20,5.58,9.34,2.23,110.0,Moderate
29345,Visakhapatnam,2019-12-29,41.00,NaN,2.37,20.94,13.07,6.78,0.74,6.25,70.48,3.76,12.04,0.71,133.0,Moderate
29346,Visakhapatnam,2019-12-30,44.79,NaN,3.22,35.67,21.58,11.14,1.06,9.71,77.40,4.41,7.69,2.16,NaN,NaN
29462,Visakhapatnam,2020-04-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,Good
29463,Visakhapatnam,2020-04-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
missing_values=[]
for i in np.array(df):
  for j in i:
     if str(j)=="nan":
        missing_values.append(i)

In [ ]:
missing_values

88488

3. Replacing missing values and null values

In [ ]:
data = pd.read_csv("city_day.csv")
 
# filling a null values using fillna()
data["PM2.5"].fillna("No Data", inplace = True)
data

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,No Data,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,No Data,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,No Data,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,No Data,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,No Data,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29526,Visakhapatnam,2020-06-27,15.02,50.94,7.68,25.06,19.54,12.47,0.47,8.55,23.30,2.24,12.07,0.73,41.0,Good
29527,Visakhapatnam,2020-06-28,24.38,74.09,3.42,26.06,16.53,11.99,0.52,12.72,30.14,0.74,2.21,0.38,70.0,Satisfactory
29528,Visakhapatnam,2020-06-29,22.91,65.73,3.45,29.53,18.33,10.71,0.48,8.42,30.96,0.01,0.01,0.00,68.0,Satisfactory
29529,Visakhapatnam,2020-06-30,16.64,49.97,4.05,29.26,18.80,10.03,0.52,9.84,28.30,0.00,0.00,0.00,54.0,Satisfactory
29530,Visakhapatnam,2020-07-01,15.0,66.00,0.40,26.85,14.05,5.20,0.59,2.10,17.05,NaN,NaN,NaN,50.0,Good

4. Normalizing the data using standard scaler or minmax scaler

#standard scaler

In [ ]:
from sklearn.preprocessing import StandardScaler
df = pd.read_csv("city_day.csv").dropna()

In [ ]:
df

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
2123,Amaravati,2017-11-25,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,Moderate
2124,Amaravati,2017-11-26,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,Moderate
2125,Amaravati,2017-11-27,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,Moderate
2126,Amaravati,2017-11-28,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,Moderate
2127,Amaravati,2017-11-29,72.47,114.84,5.23,23.20,16.59,12.25,0.16,10.55,109.74,0.21,4.71,0.08,173.0,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29525,Visakhapatnam,2020-06-26,7.63,32.27,5.91,23.27,17.19,11.15,0.46,6.87,19.90,1.45,5.37,1.45,47.0,Good
29526,Visakhapatnam,2020-06-27,15.02,50.94,7.68,25.06,19.54,12.47,0.47,8.55,23.30,2.24,12.07,0.73,41.0,Good
29527,Visakhapatnam,2020-06-28,24.38,74.09,3.42,26.06,16.53,11.99,0.52,12.72,30.14,0.74,2.21,0.38,70.0,Satisfactory
29528,Visakhapatnam,2020-06-29,22.91,65.73,3.45,29.53,18.33,10.71,0.48,8.42,30.96,0.01,0.01,0.00,68.0,Satisfactory
29529,Visakhapatnam,2020-06-30,16.64,49.97,4.05,29.26,18.80,10.03,0.52,9.84,28.30,0.00,0.00,0.00,54.0,Satisfactory

In [ ]:
sc = StandardScaler()
cols = ['PM2.5', 'PM10', 'CO','NO','SO2']
df[cols] = sc.fit_transform(df[cols])

In [ ]:
df[cols]

          PM2.5      PM10        CO        NO       SO2
2123   0.373755  0.012609 -0.637397 -0.777351  0.519929
2124   0.316405  0.065766 -0.622649 -0.786335  2.155536
2125   0.510799  0.138739 -0.644772 -0.519818  3.080798
2126   0.053116 -0.225312 -0.659521 -0.721453  1.044663
2127   0.207477 -0.099998 -0.607900 -0.588194 -0.134592
...         ...       ...       ...       ...       ...
29525 -0.999851 -1.062525 -0.386670 -0.554256 -0.648162
29526 -0.862248 -0.844887 -0.379295 -0.465916 -0.413706
29527 -0.687964 -0.575025 -0.342424 -0.678530  0.168246
29528 -0.715336 -0.672479 -0.371921 -0.677033 -0.431848
29529 -0.832084 -0.856195 -0.342424 -0.647087 -0.233678

[6236 rows x 5 columns]

#minmax scaler

In [ ]:
from sklearn.preprocessing import MinMaxScaler
df = pd.read_csv("city_day.csv").dropna()

       PM2.5    PM10    CO    NO    SO2
2123   81.40  124.50  0.12  1.44  15.24
2124   78.32  129.06  0.14  1.26  26.96
2125   88.76  135.32  0.11  6.60  33.59
2126   64.18  104.09  0.09  2.56  19.00
2127   72.47  114.84  0.16  5.23  10.55
...      ...     ...   ...   ...    ...
29525   7.63   32.27  0.46  5.91   6.87
29526  15.02   50.94  0.47  7.68   8.55
29527  24.38   74.09  0.52  3.42  12.72
29528  22.91   65.73  0.48  3.45   8.42
29529  16.64   49.97  0.52  4.05   9.84

[6236 rows x 5 columns]

In [ ]:
mmscaler = MinMaxScaler()
cols = ['PM2.5', 'PM10', 'CO','NO','SO2']
df[cols] = mmscaler.fit_transform(df[cols])

In [ ]:
df[cols]

          PM2.5      PM10        CO        NO       SO2
2123   0.124610  0.147894  0.007394  0.007486  0.208525
2124   0.119776  0.153673  0.008626  0.006353  0.376722
2125   0.136160  0.161606  0.006778  0.039945  0.471871
2126   0.097585  0.122028  0.005545  0.014531  0.262486
2127   0.110595  0.135652  0.009858  0.031327  0.141217
...         ...       ...       ...       ...       ...
29525  0.008836  0.031011  0.028343  0.035604  0.088404
29526  0.020433  0.054671  0.028959  0.046738  0.112514
29527  0.035123  0.084009  0.032039  0.019941  0.172359
29528  0.032816  0.073415  0.029575  0.020130  0.110649
29529  0.022976  0.053442  0.032039  0.023904  0.131028

[6236 rows x 5 columns]

#5. Apply KNN for the preprocessed dataset use 5 different K Values and 3 different distance measures

In [ ]:
#tanking the pm10,pm2.5,no and co levels as the x variable
#taking the AQI_Bucket as the y value

df = pd.read_csv("city_day.csv").dropna()
k=np.list(df["AQI_Bucket"].unique())

In [ ]:
k

array(['Moderate', 'Poor', 'Very Poor', 'Satisfactory', 'Good', 'Severe'],
      dtype=object)

In [ ]:

# Import necessary modules
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
 
# Loading data
irisData = load_iris()
 
# Create feature and target arrays
X = irisData.data
y = irisData.target
 
# Split into training and test set
X_train, X_test, y_train, y_test = train_test_split(
             X, y, test_size = 0.2, random_state=42)
 
knn = KNeighborsClassifier(n_neighbors=7)
 
knn.fit(X_train, y_train)
 
# Predict on dataset which model has not seen before
print(knn.predict(X_test))

[1 0 2 1 1 0 1 2 2 1 2 0 0 0 0 1 2 1 1 2 0 2 0 2 2 2 2 2 0 0]

In [ ]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])